.time1
{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#CD4F39;
	font-size: 25px;
	font-weight: bold;
}

.canvas h3
{
	text-align: center;
	color:#666666;
}

.canvas p
{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color:#666666;
}

